/* -------------------------------------Universal----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ----------------------------------------Header------------------------------------------------- */

header {
    display: flex;
    height: 100px;
    margin: 15px;
    background-color:rgba(142, 123, 39, 0.345);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.logo img {
    height: 100%;
    border-radius: 50px;
}
.contenedor-padre-navegacion {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.barra-navegacion {
    display: flex;
    margin: 15px;
}
.barra-navegacion li {
    padding: 10px;
    font-weight: 400;
}

/* ----------------------------------------Main------------------------------------------------- */
main {
    margin: 5%;
}
.titulos-home {
    display: flex;
    justify-content: center;
    color: rgb(101, 62, 11);
    background-color:rgba(118, 108, 75, 0.481);
    border-radius: 15px;
    padding: 10px;
}

/* 1er sección: productos destacados */
.productos-destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

/* 2da sección: productos aleatorios */
.productos-aleatorios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}
article {
    width: 30%;
    margin: 15px 0px;
}
h3, h4 {
    padding: 5px 0px;
}
.ver-detalle {
    display: inline-block;
    background-color: peru;
    padding: 5px 2px;
}

/* -------------------------------------------Aside------------------------------------------------------ */




/* ----------------------------------------Pie de página------------------------------------------------- */

footer {
    display: flex;
    margin: 15px;
    height: 90px;
    background-color: rgba(142, 123, 39, 0.345);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.nombres-piedepagina {
    display: flex;
    width: 50%;
    align-items: center;
    margin-left: 15px;
}
.nombres-piedepagina li {
    padding: 0px 10px;
    font-weight: 500;
}
.udesa-digitalhouse {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.udesa-digitalhouse img {
    height: 100%;
    border-radius: 50px;
}